<div id="form">
    <h2>Sign up</h2>

    <form action="/auth/signup" method="post">

    <label> Username
        <input type="text" name="username" placeholder="ironhacker"/>
    </label>
    <label> Email
        <input type="email" name="email" placeholder="rockstar@ironhack.com"/>
    </label>
    <label> Password
        <input type="password" name="passwordHash" placeholder="********"/>
    </label>

    <button type="submit" class="btn btn-secondary">Create account</button>
    

    </form>

</div>