{{!-- <h1>{{appTitle}}</h1> --}}
<h1>Welcome to a Page where it is our job to expose all the hungry American companies that love exploiting Latin Americans with their false promises and lies </h1>

<img src="../images/14521-Indicators-Of-Being-A-Toxic-Boss.jpeg" width="1400px">